





 

 


    
   

    




    .arrow{
      border:solid rgb(255,255,255);
      border-width: 0 8px 8px 0;
      padding:15px;
      display: inline-block;
      transform:rotate(45deg);
      z-index: 1;
    }

    .bounce{
      padding: 50px 0 0 50px;
      animation: bounce 2s infinite;

    }



    .shiny{

      animation: shiny 5s infinite;
      padding: 0;
      margin: 0;
    }

    @keyframes shiny{
      0%,
      20%{
            color:white;
         
      }

      40%,
      60%{
            color:yellow;
         
      }

    }

    @keyframes bounce{
      0%,
      20%,
      50%,
      80%,
      100%{
        transform: translateY(0);
      }

      40%{


        transform: translateY(-30px);
      }
      60%{
        transform: translateY(-15px);
      }
    }


    .tech-container img{
      width:30px;
      height:30px;
      padding:0;
      margin:0;
    }

    .tech-container{
   display: flex;
    height:50px;
    align-items: center;
  }
    
    h1{
    margin:0;
      font-family: 'Open Sans', sans-serif;
      color:white;
      font-size: 40px;
      font-weight: 50;
    }



    
    
    h2{
      margin:0;
      font-family: 'Open Sans', sans-serif;
      color:white;
      font-size: 30px;
      font-weight: 50;
    }
    
    #selftextinfo{
    
    
    
      margin: 0 10% 0 0;
     align-items: center;
      
    }

    .self-textwrapper{
      display:flex;
      align-items: center;
      border-right: 4px solid rgb(255,255,255);


    }

    hr{

     
      background: rgb(28, 2, 121);
      width:50%;
      height:3px;
      border-width: 0;
    }
    
    
    
 

     .flex-container{
      display: flex;
      justify-content:center;

     }

     .project-container{
      display:flex;
   justify-content: center;
          margin: 100px 50px 100px 50px;

     }
    
    #introduction{
    padding-top: 130px;
     

    margin: 0 50px 100px 50px;
    
    }
    .flex-container img{
      height: 500px;
      width: 30%;
      margin: 0 0 0 10%;
      border-radius: 15px;

     
    
    }
    
    p{
    
      font-family: 'Open Sans', sans-serif;
      color:white;
      font-size: 15px;
      font-weight: 50;
    }



    .project-text p{
color:black;

    }



   .sectiontitle{
    
      text-align: center;
      color:black;
      
    }
    
    #projectimages{
    
      width:800px;
      height:500px
    }






 
   



    @media screen and (max-width:1000px){

      .flex-container{
        display:block;
     

        text-align: center;
      }

      .self-textwrapper {
        display:block;

        

border-right:none;



      }

      #selftextinfo{
 
    margin:0;
      }

      .flex-container img{

        margin: 0 0 0 0;
 
       width: 100%;
      
      }

      .introduction{

  

      }
    }


    .Projects-section{
      background-color: rgb(59,62,77);
      padding: 80px 50px;
  
    }
  



   

    .work-card-container{
      display:flex;
      flex-wrap: wrap;
      justify-content: center;

    }

    .work-card{
      width: 20%;
      max-width:50%;
      background-color: rgb(29,31,38);
      margin: 10px;
      padding: 0 50px 50px 50px;
      color:white;
      transition: background-color 1s;
    }

    
    .work-card:hover{
      background-color: rgb(189, 125, 29);
   
    }


    .work-card h3:hover{

      color:blue;
    }
    

    @media screen and (max-width: 1000px){

      .work-card{
        width:100%;
      }

      .bounce{

        padding: 50px 0 0 0;
      }
    }

   
    


    .html {
      border-top: solid 8px rgb( 242, 128, 87);
    }

    .css {
      border-top: solid 8px rgb(88, 130, 203);
    }

    .js {
      border-top: solid 8px rgb(3,114,114);
    }

    .react {
      border-top: solid 8px rgb( 239,25,66);

    }


 
    footer{
   
      background-color: rgb(3,114,144);
    
      display:flex;
      justify-content: flex-end;
      padding:50px;


      
  
    }


    .work-card h3{

    width: 70%; 
  font-size: 24px; 
  
    }